# Путь к JSON-файлу с данными о самолётах
FILE_PATH=data/aeroplanes.json

# Ваши данные от OpenSky Network
# https://opensky-network.org/
OPENSKY_USER=your_api_user_here
OPENSKY_PASS=your_api_password_here
