{% extends "base.html" %}

{% block content %}
<h2>Выберите страну</h2>

<div class="mb-4 text-left" style="display: block; clear: both;">
    <a href="/db-analytics" class="btn btn-success font-weight-bold shadow-sm" style="display: inline-block; text-decoration: none;">
        📊 Открыть аналитику PostgreSQL
    </a>
</div>

<div class="cards">
    <div class="card">
        <h3>✏ Свой ввод</h3>
        <form action="{{ url_for('planes') }}" method="post">
            <input type="hidden" name="country" value="__custom__">
            <input type="text" name="custom_country" placeholder="Например: Germany" required>
            <button type="submit">Показать</button>
        </form>
    </div>

    {% for c in countries %}
    <div class="card">
        <h3>{{ c }}</h3>
        <form action="{{ url_for('planes') }}" method="post">
            <input type="hidden" name="country" value="{{ c }}">
            <button type="submit">Показать</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}